---
ip: "192.168.56.56"
memory: 2048
cpus: 2
provider: virtualbox
name: "symfony-template"
authorize: ~\.ssh\id_rsa.pub

keys:
    - ~\.ssh\id_rsa

folders:
    - map: C:\Users\cooolinho\projects\symfony-template
      to: /home/vagrant/symfony-template

sites:
    - map: symfony-template.test
      to: /home/vagrant/symfony-template/symfony/public

databases:
    - symfony-template

features:
    - mysql: true
    - mariadb: false
    - postgresql: false
    - ohmyzsh: false
    - webdriver: false

services:
    - enabled:
          - "mysql"

ports:
    - send: 33060 # MySQL/MariaDB
      to: 3306
